




h2 {
    font-size: x-large;
    margin: 20px 0;
}


h3 {
    font-size: medium;
    margin: 20px 0;
}


form {
    margin: 40px 0;
}


.container {
    width: 70%;
}


.custom-navbar {
    background-color: rgba(0, 0, 255, 0.295);
}

.custom-btn {
    background-color: rgba(0, 0, 255, 0.295);
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

.custom-btn:hover {
    color: white;
    background-color: midnightblue;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}
